nav {
    display: flex;
    justify-content: space-around;
}

nav > a {
    padding: 1%;
}

.selected {
    background-color: tomato;
    color: white;
    border-radius: 5px;
}

#companies{
    display: flex;
}

#companies > ul {
    width: 50%;
}

li {
    display: flex;
    justify-content:space-between;
    padding: 10px;
}

.profit-list {
    border-bottom: solid blueviolet 1px;
    padding: 10px;
}